.cards{
    width: 400px;
    border: 2px solid black;
    padding: 30px;
    margin: 10px;
    border-radius: 30px;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
.parent{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
}